<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:if condition="{cryptoList}">
        <f:then>
            <h1>{cryptoList}</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Symbol</th>
                        <th scope="col">{f:translate(id:'crypto.price')}</th>
                    </tr>
                </thead>
                <tbody>
                <f:for each="{userAssets}" as="data">
                    <f:for each="{data}" as="asset">
                        <tr>
                            <th scope="row">{asset.rank}</th>
                            <td>{asset.name}</td>
                            <td>{asset.symbol}</td>
                            <td>{asset.priceUsd}</td>
                        </tr>
                    </f:for>
                </f:for>
                </tbody>
            </table>
        </f:then>
        <f:else>
            <div class="alert {message.alert}" role="alert">
                {message.text}
                <f:link.action
                        action="new"
                        controller="CryptoList"
                        arguments="{user:user}"
                        noCache="1">
                    {f:translate(id:'crypto_list.new')}
                </f:link.action>
            </div>
        </f:else>
    </f:if>
</f:section>
</html>
