<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>Neue Liste erstellen</h1>

    <f:if condition="{message}">
        <div class="alert {alert}" role="alert">
            {message}
        </div>
    </f:if>

    <f:render partial="FormErrors" />

    <f:form action="create" enctype="multipart/form-data" name="cryptoList" object="{cryptoList}" arguments="{user: '{user}'}">
        <f:render partial="CryptoList/FormFields" />
        <f:form.submit value="Create new" />
    </f:form>
    <f:link.action action="list" controller="User" pageUid="{settings.profilePid}">Zurück</f:link.action><br />
</f:section>
</html>
