<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>{f:translate(id:'user.edit')}</h1>

    <f:if condition="{message}">
        <div class="alert {alert}" role="alert">
            {message}
        </div>
    </f:if>

    <f:render partial="FormErrors" />

    <f:form action="update" name="user" object="{user}" >
    <f:render partial="User/FormFields" arguments="{user:user}" />
    <f:form.submit value="{f:translate(id:'button.save')}" />
    </f:form>
    <f:link.action action="list" arguments="{user:user.uid}">{f:translate(id:'page.back')}</f:link.action><br />
</f:section>
</html>
