<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>{f:translate(id:'user.login')}</h1>

    <f:if condition="{message}">
        <div class="alert {alert}" role="alert">
            {message}
        </div>
    </f:if>

    <f:form action="login" name="login" >
        <f:render partial="User/Login/FormFields" />
        <f:form.submit value="{f:translate(id:'user.login')}" />
    </f:form>
    
    <f:link.action action="new" pageUid="{settings.registerPid}">{f:translate(id:'user.register')}</f:link.action><br>
    <f:link.action action="newPassword" pageUid="{settings.newPasswordPid}">{f:translate(id:'user.forgot_password')}</f:link.action>
</f:section>
</html>
