<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:if condition="{message}">
        <div class="alert {alert}" role="alert">
            {message}
        </div>
    </f:if>

    <p>{f:translate(id:'user')}: {user.firstName}</p>

    <div class="row">
        <div class="col-sm">
            <f:link.action action="show" arguments="{user : user}" noCache="1">{f:translate(id:'user.show')}</f:link.action>
        </div>
        <div class="col-sm">
            <f:link.action action="list" controller="CryptoList" arguments="{user : user}" noCache="1">Watchlist</f:link.action>
        </div>
        <div class="col-sm">
            <f:link.action action="edit" arguments="{user : user}" noCache="1">{f:translate(id:'user.edit')}</f:link.action>
        </div>
        <div class="col-sm">
            <f:link.action action="delete" arguments="{user : user}" noCache="1">{f:translate(id:'user.delete')}</f:link.action>
        </div>
        <div class="col-sm">
            <f:link.action action="logout" arguments="{user : user}">{f:translate(id:'user.logout')}</f:link.action>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Symbol</th>
            <th scope="col">{f:translate(id:'crypto.price')}</th>
            <th scope="col">{f:translate(id:'crypto.market_cap')}</th>
            <th scope="col">24h %</th>
            <th scope="col">{f:translate(id:'crypto.add')} ({f:if(condition: '{user.cryptoList}', then: '{user.cryptoList.name}', else: "{f:translate(id:'crypto.no_watchlist')}")})</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{cryptocurrencies.data}" as="cryptocurrency" iteration="iterator">

        <tr>
                <th scope="row">{cryptocurrency.rank}</th>
                <td>{cryptocurrency.name}</td>
                <td>{cryptocurrency.symbol}</td>
                <td>{cryptocurrency.priceUsd}</td>
                <td>{cryptocurrency.marketCapUsd}</td>
                <td>{cryptocurrency.changePercent24Hr}</td>
                <td>
                    <f:if condition="{user.cryptoList}">
                        <f:form action="addCryptoToList"
                                controller="CryptoList"
                                pluginName="Profile"
                                id="addCryptoToList"
                                noCache="true"
                                method="post"
                                pageType="{settings.ajax}"
                                additionalAttributes="{data-result-id: '{iterator.index}'}"
                                arguments="{cryptocurrency:cryptocurrency, userId:user.uid}">

                            <f:form.button class="btn plus">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                                </svg>
                            </f:form.button>

                        </f:form>
                    </f:if>
                    <p id="result_{iterator.index}"></p>
                </td>
            </tr>
        </f:for>
        </tbody>
    </table>

</f:section>
</html>
