<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>{f:translate(id:'user.create')}</h1>

    <f:if condition="{message}">
        <div class="alert {alert}" role="alert">
            {message}
        </div>
    </f:if>

    <f:render partial="FormErrors" />

    <f:form action="create" enctype="multipart/form-data" name="newUser" object="{newUser}">
        <f:render partial="User/FormFields" />
        <f:form.submit value="Create new" />
    </f:form>
    <f:link.action action="index" pageUid="{settings.loginPid}">{f:translate(id:'page.back')}</f:link.action><br />
</f:section>
</html>
