<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">

    <f:if condition="{message}">
        <div class="alert {alert}" role="alert">
            {message}
        </div>
    </f:if>
    
    <f:if condition="{args.new} == 'newPassword'">
        <f:then>
            <h1>Neues Passwort setzen</h1>
            <f:form action="updatePassword" name="user" object="{user}">
                <label for="password">
                    <f:translate key="tx_usermanager_domain_model_user.password" /> <span class="required">*</span>
                </label><br />
                <f:form.password property="password" id="password" /><br />
                <label for="passwordCheck">
                    <f:translate key="tx_usermanager_domain_model_user.password" /> <span class="required">*</span>
                </label><br />
                <f:form.password name="password_repeat" placeholder="Passwort wiederholen" id="passwordCheck" /><br />
            <f:form.submit value="Bestätigen" />
            </f:form>
        </f:then>
        <f:else>
            <h1>Zum Zurücksetzen des Passworts bitte E-Mail eingeben!</h1>
            <f:form action="createPasswordLink" name="createPasswordLink">
                <label for="email">
                    <f:translate key="tx_usermanager_domain_model_user.email" /> <span class="required">*</span>
                </label>
                <br />
                <f:form.textfield type="email" name="email" id="email" />
                <br />
            <f:form.submit value="Passwort-Link senden" />
            </f:form>
        </f:else>
    </f:if>
    <f:link.action action="index" pageUid="{settings.loginPid}">Zurück</f:link.action><br />
</f:section>
</html>
