<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <h1>{f:translate(id:'user.detail')}</h1>

    <f:if condition="{message}">
        <div class="alert {alert}" role="alert">
            {message}
        </div>
    </f:if>

    <f:render partial="User/Properties" arguments="{user:user}" />
    <f:link.action action="list" arguments="{user:user.uid}" noCache="1">{f:translate(id:'page.back')}</f:link.action><br />
</f:section>
</html>
