{namespace h=IWM\UserManager\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="name">
	<f:translate key="tx_usermanager_domain_model_cryptolist.name" />
</label><br />
	<f:form.textfield property="name" id="name" /><br />
</html>
