{namespace h=IWM\UserManager\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<label for="email">
	<f:translate key="user.email" />
</label><br />
	<f:form.textfield type="email" name="email" id="email" /><br />

<label for="password">
	<f:translate key="user.password" />
</label><br />
	<f:form.password name="password" id="password" /><br />

</html>