{namespace h=IWM\UserManager\ViewHelpers}
<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<label for="firstName">
		<f:translate key="user.first_name" />
	</label><br>
	<f:form.textfield property="firstName" id="firstName" /><br>

	<label for="lastName">
		<f:translate key="user.last_name" />
	</label><br />
	<f:form.textfield property="lastName" id="lastName" /><br />

	<label for="email">
		<f:translate key="user.email" /> <span class="required">*</span>
	</label><br />
	<f:form.textfield type="email" property="email" id="email" /><br />

	<label for="profilePicture">
		<f:translate key="user.profile_picture" />
	</label><br />
	<h:form.upload property="profilePicture" >
	</h:form.upload><br />

	<label for="password">
		<f:translate key="user.password" /> <span class="required">*</span>
	</label><br />
	<f:form.password property="password" id="password" /><br />

	<label for="passwordCheck">
		<f:translate key="user.password" /> <span class="required">*</span>
	</label><br />
	<f:form.password name="password_repeat" placeholder="{f:translate(id:'form.password_repeat')}" id="passwordCheck" /><br />

	<label for="birthDate">
		<f:translate key="user.birth_date" /> <span class="required">*</span>
	</label><br />
	<f:form.textfield property="birthDate" id="birthDate" value="{user.birthDate}" /><br />
	* <f:translate key="form.hint_text" /> <br />

</html>