<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<table class="tx-user-manager">
	<tr>
		<td><f:translate key="user.first_name" /></td>
		<td>{user.firstName}</td>
	</tr>
	<tr>
		<td><f:translate key="user.last_name" /></td>
		<td>{user.lastName}</td>
	</tr>
	<tr>
		<td><f:translate key="user.email" /></td>
		<td>{user.email}</td>
	</tr>
	<tr>
		<td><f:translate key="user.profile_picture" /></td>
		<td>
			<f:if condition="{user.profilePicture}">
				<f:image image="{user.profilePicture}" width="200" />
		    </f:if>		
        </td>
	</tr>
	<tr>
		<td><f:translate key="user.birth_date" /></td>
		<td>{user.birthDate}</td>
	</tr>
</table>
</html>
